.*
!.gitignore

# Genereted files
*.pdf
!figures/*.pdf
*.tex
!macro.tex

# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.vtc
*.cut
*.thm

# Bibtex auxiliary files
*.bbl
*.blg

# Backup files
*.bi~
*.bac
